@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: rgb(0, 53, 88);
  background: linear-gradient(
    180deg,
    rgba(0, 53, 88, 1) 0%,  
    rgba(0, 95, 129, 1) 54%,
    rgba(1, 145, 171, 1) 100%
  );
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* font-family: Poppins; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
